
name: Collect Statistics
on:
  schedule:
    - cron: '*/15 9-23 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.4.0
      - run: npm install
      - run: npm start
      - run: |
          git config --global user.email "3372410+aeneasr@users.noreply.github.com"
          git config --global user.name "aeneasr"
          git add -A
          git commit -a -m "chore: update stats from $(date +%s)"
          git push origin HEAD:master
